#main-content {
  height: 1000px;
  width: 1000px;
  background-color: teal;
  position: relative;

}

.content {
  height: 100px;
  width: 100px;
}

#main-content-1 {
  background-color: yellow;
  position: absolute;
  top: 20px;
  z-index: 2;
}

#main-content-2 {
  background-color: pink;
  /* bottom: 0px; */
  /* top: unset; */
  right: 50px;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

#main-content-3 {
  background-color: black;

}

#sidebar {

}

#footer {

}